.app-wrapper {
    display: grid;
    margin: 10px 10px;

    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;
}







